# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/Browse.VC.db
.vs/DS_CLR/v16/Browse.VC.opendb
.vs/DS_CLR/v16/ipch/AutoPCH/b75e7f2c3d3e1574/DROPSOURCEFROM.ipch
DS_CLR/x64/Release/DS_CLR.vcxprojAssemblyReference.cache
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/Browse.VC.db
DS_CLR/x64/Debug/DS_CLR.log
DS_CLR/x64/Debug/DS_CLR.log
DS_CLR/x64/Debug/DS_CLR.tlog/CL.command.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/CL.read.1.tlog
*.tlog
