# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/Browse.VC.db
.vs/DS_CLR/v16/Browse.VC.opendb
.vs/DS_CLR/v16/ipch/AutoPCH/b75e7f2c3d3e1574/DROPSOURCEFROM.ipch
DS_CLR/x64/Release/DS_CLR.vcxprojAssemblyReference.cache
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/Browse.VC.db
DS_CLR/x64/Debug/DS_CLR.log
DS_CLR/x64/Debug/DS_CLR.log
DS_CLR/x64/Debug/DS_CLR.tlog/CL.command.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/CL.read.1.tlog
*.tlog
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/Browse.VC.db
*.log
DS_CLR/x64/Debug/DS_CLR.log
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/ipch/AutoPCH/70cf975de9d7bf4/DROPSOURCEFROM.ipch
.vs/DS_CLR/v16/ipch/AutoPCH/603244c1d977884/DROPSOURCEFROM.ipch
.vs/DS_CLR/v16/Browse.VC.db
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/Browse.VC.db
DS_CLR/x64/Debug/DS_CLR.log
DS_CLR/x64/Debug/DS_CLR.tlog/CL.command.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/CL.read.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/CL.write.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/DS_CLR.lastbuildstate
DS_CLR/x64/Debug/DS_CLR.tlog/DS_CLR.write.1u.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/link.command.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/link.read.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/link.write.1.tlog
DS_CLR/x64/Debug/DS_CLR.vcxproj.GenerateResource.cache
DS_CLR/x64/Debug/DS_CLR.vcxprojAssemblyReference.cache
DS_CLR/x64/Debug/vc142.pdb
DS_CLR/x64/Release/DS_CLR.log
DS_CLR/x64/Release/DS_CLR.tlog/CL.command.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/CL.read.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/CL.write.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/DS_CLR.lastbuildstate
DS_CLR/x64/Release/DS_CLR.tlog/DS_CLR.write.1u.tlog
DS_CLR/x64/Release/DS_CLR.tlog/link.command.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/link.read.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/link.write.1.tlog
DS_CLR/x64/Release/DS_CLR.vcxproj.GenerateResource.cache
DS_CLR/x64/Release/vc142.pdb
README.md
x64/Debug/DS_CLR.exe.metagen
x64/Debug/DS_CLR.pdb
x64/Release/DS_CLR.exe.metagen
x64/Release/DS_CLR.pdb
.vs/DS_CLR/v16/.suo
.vs/DS_CLR/v16/Browse.VC.db
.vs/DS_CLR/v16/ipch/AutoPCH/3f930de49fb94c64/DROPSOURCEFROM.ipch
.vs/DS_CLR/v16/ipch/AutoPCH/93551ad01f2bb306/THRESHOLDINGMETHODS.ipch
.vs/DS_CLR/v16/ipch/AutoPCH/b20021bb4e7fc012/THRESHOLDINGMETHODSDEFS.ipch
.vs/DS_CLR/v16/ipch/AutoPCH/b911bccff30d4e64/DROPSOURCEFROM.ipch
.vs/DS_CLR/v16/ipch/AutoPCH/f15e0d5383893f6f/IMAGEPROC.ipch
DS_CLR/x64/Debug/DS_CLR.log
DS_CLR/x64/Debug/DS_CLR.tlog/CL.command.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/CL.read.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/CL.write.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/DS_CLR.write.1u.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/link.command.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/link.read.1.tlog
DS_CLR/x64/Debug/DS_CLR.tlog/link.write.1.tlog
DS_CLR/x64/Debug/DS_CLR.vcxproj.GenerateResource.cache
DS_CLR/x64/Debug/vc142.pdb
DS_CLR/x64/Release/DS_CLR.log
DS_CLR/x64/Release/DS_CLR.tlog/CL.command.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/CL.write.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/CL.read.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/DS_CLR.lastbuildstate
DS_CLR/x64/Release/DS_CLR.tlog/link.command.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/DS_CLR.write.1u.tlog
DS_CLR/x64/Release/DS_CLR.tlog/link.write.1.tlog
DS_CLR/x64/Release/DS_CLR.tlog/link.read.1.tlog
DS_CLR/x64/Release/DS_CLR.vcxproj.GenerateResource.cache
DS_CLR/x64/Release/vc142.pdb
x64/Debug/DS_CLR.exe.metagen
x64/Debug/DS_CLR.pdb
x64/Release/DS_CLR.exe.metagen
x64/Release/DS_CLR.pdb
